.swiper {
    width: 100%;
    height: 60rem;
  }
  
  .mySwiper {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60rem;
  }
  
  .mySwiper img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  